/* line 4, H:/GeekBrains/Brandshop/css/single_page.scss */
.container .header .header_top .dropdown_list {
  z-index: 4; }

/* line 10, H:/GeekBrains/Brandshop/css/single_page.scss */
.container .content .main-car {
  width: 1600px; }
  /* line 12, H:/GeekBrains/Brandshop/css/single_page.scss */
  .container .content .main-car .owl-carousel-main__text {
    clear: both;
    text-align: center;
    text-align: -webkit-center; }
    /* line 16, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .main-car .owl-carousel-main__text .owl-carousel-main__text_collection-name {
      color: #f16d7f;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
    /* line 22, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .main-car .owl-carousel-main__text .owl-carousel-main__text_red-line {
      width: 63px;
      height: 3px;
      background-color: #ef5b70;
      margin: 14px 0 17px; }
    /* line 28, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .main-car .owl-carousel-main__text .owl-carousel-main__text_item-name {
      color: #4d4d4d;
      font-size: 18px;
      font-weight: 900;
      /*  line-height: 24px;*/
      text-transform: uppercase; }
    /* line 35, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .main-car .owl-carousel-main__text .owl-carousel-main__text_stars {
      width: 88px;
      height: 16px;
      background-image: url(../img/stars.png);
      background-repeat: repeat;
      background-size: 20.5%;
      background-position-y: 17px;
      margin: 24px 0 26px; }
    /* line 44, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .main-car .owl-carousel-main__text .owl-carousel-main__text_desc {
      width: 618px;
      color: #5e5e5e;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px; }
    /* line 51, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .main-car .owl-carousel-main__text .owl-carousel-main__text_properties {
      width: 334px;
      color: #b9b9b9;
      font-family: Lato;
      font-size: 14px;
      font-weight: 700;
      margin: 28px 0 37px;
      text-transform: uppercase;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
    /* line 67, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .main-car .owl-carousel-main__text .owl-carousel-main__text_properties span {
      color: #2f2f2f; }
    /* line 70, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .main-car .owl-carousel-main__text .owl-carousel-main__text_cost {
      width: 54px;
      color: #ef5b70;
      font-size: 24px;
      font-weight: 700; }
  /* line 77, H:/GeekBrains/Brandshop/css/single_page.scss */
  .container .content .main-car .main-car__separation-line {
    width: 642px;
    height: 1px;
    margin: 43px auto 63px;
    border: 1px solid #eaeaea;
    background-color: #ef5b70; }
  /* line 84, H:/GeekBrains/Brandshop/css/single_page.scss */
  .container .content .main-car .main-car__properties {
    width: 538px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; }
    /* line 86, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .main-car .main-car__properties .main-car__properties_quantity input {
      outline: none;
      width: 131px;
      height: 35px;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
      color: #bcbcbc;
      padding-left: 11px; }
  /* line 105, H:/GeekBrains/Brandshop/css/single_page.scss */
  .container .content .main-car .main-car__add-to-cart {
    width: 537px;
    height: 55px;
    margin: 28px auto 0;
    cursor: pointer;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    color: #ef5b70;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
    /* line 121, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .main-car .main-car__add-to-cart:hover {
      background-color: rgba(243, 129, 145, 0.2); }
    /* line 124, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .main-car .main-car__add-to-cart:active {
      margin-top: 30px; }
    /* line 127, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .main-car .main-car__add-to-cart .main-car__add-to-cart_cart {
      background-image: url(../img/cart-pink.png);
      width: 26px;
      height: 24px; }
    /* line 132, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .main-car .main-car__add-to-cart .main-car__add-to-cart_text {
      color: #ef5b70;
      font-size: 16px;
      font-weight: 700;
      margin-left: 17px; }

/* line 140, H:/GeekBrains/Brandshop/css/single_page.scss */
.container .content .white-block {
  margin: 0 auto;
  width: 100%; }

/* line 144, H:/GeekBrains/Brandshop/css/single_page.scss */
.container .content .white-block_height-241 {
  height: 241px; }

/* line 147, H:/GeekBrains/Brandshop/css/single_page.scss */
.container .content .white-block_height-73 {
  height: 73px; }

/* line 150, H:/GeekBrains/Brandshop/css/single_page.scss */
.container .content .you-may-like {
  margin: 0 auto; }
  /* line 152, H:/GeekBrains/Brandshop/css/single_page.scss */
  .container .content .you-may-like .you-may-like__title {
    /* Style for "you may li" */
    width: 234px;
    height: 18px;
    margin: 0 auto;
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 72px; }
  /* line 164, H:/GeekBrains/Brandshop/css/single_page.scss */
  .container .content .you-may-like .you-may-like__showcase {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    width: 1143px;
    justify-content: space-between;
    margin: 0 auto; }
    /* line 174, H:/GeekBrains/Brandshop/css/single_page.scss */
    .container .content .you-may-like .you-may-like__showcase .you-may-like__showcase_gooditem {
      margin-top: 0; }
      /* line 177, H:/GeekBrains/Brandshop/css/single_page.scss */
      .container .content .you-may-like .you-may-like__showcase .you-may-like__showcase_gooditem:first-child .image {
        background-image: url("../img/good-item-1.png");
        background-size: contain;
        background-position: center;
        background-color: #e9e9e9; }
      /* line 177, H:/GeekBrains/Brandshop/css/single_page.scss */
      .container .content .you-may-like .you-may-like__showcase .you-may-like__showcase_gooditem:nth-child(2) .image {
        background-image: url("../img/good-item-5.png");
        background-size: contain;
        background-position: center;
        background-color: #e9e9e9; }
      /* line 177, H:/GeekBrains/Brandshop/css/single_page.scss */
      .container .content .you-may-like .you-may-like__showcase .you-may-like__showcase_gooditem:nth-child(3) .image {
        background-image: url("../img/good-item-3.png");
        background-size: contain;
        background-position: center;
        background-color: #e9e9e9; }
      /* line 177, H:/GeekBrains/Brandshop/css/single_page.scss */
      .container .content .you-may-like .you-may-like__showcase .you-may-like__showcase_gooditem:last-child .image {
        background-image: url("../img/layer-47.png");
        background-size: contain;
        background-position: center;
        background-color: #e9e9e9; }

/*# sourceMappingURL=single_page.css.map */